
<div class="title-animated uk-animation align-center color-white" style="height: 165px;position:relative;">
    <h1 class="align-center color-white uk-animation-slide-left">
        Title content
    </h1>
    <div class="uk-overlay uk-overlay-default uk-position-bottom uk-animation-slide-bottom">
      <span class="quote"> "Test para la cita de adorno al articulo" </span>
    </div>
</div>


<div id="offcanvas-slide" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3> Nombre de la obra </h3>

        <ul uk-accordion="collapsible: false">
                <li>
                    <a class="uk-accordion-title uk-text-small uk-text-bold uk-text-uppercase uk-button uk-button-text uk-text-left" href="#"> Capitulo 1 </a>
                    <div class="uk-accordion-content">
                        <p>Breve descripcion del cap..</p>
                        <ul class="uk-iconnav">
                                <li uk-tooltip="Estrellas  5"><a href="#" uk-icon="icon: star"></a></li>
                                <li uk-tooltip="Total visitas 5"><a href="#" uk-icon="icon: bolt"></a></li>
                        </ul>
                        <br>
                        <a class="uk-button uk-button-text"> más </a>
                    </div>
                </li>
        </ul>

    </div>
</div>

<div class="content-blog">

    <div class="uk-container uk-container-small">
        <h3 class="uk-text-right uk-text-small uk-text-capitalize" style="margin-top: 12px;">  <span class="uk-label uk-label-success">Desarrollo</span> </h3>
        <hr class="uk-divider-icon">
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

            Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
            
            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
            
            Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
            
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
        
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

            Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
            
            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
            
            Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
            
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
        
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

            Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
            
            Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
            
            Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
            
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
        
        </p>
        
        <a class="see_more arrow_animate" uk-toggle="target: #offcanvas-slide" uk-icon="icon: chevron-right; ratio: 2"></a>
        <hr class="uk-divider-icon">
        <article class="uk-comment">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-comment-avatar" src="https://scontent.fctg1-1.fna.fbcdn.net/v/t1.0-9/28058534_185424915555108_596327094961158333_n.jpg?oh=a746b75fbfb50ab7d107bcc83efa4676&oe=5B05484C" width="80" height="80" alt="">
                </div>
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                        <li><a>12 days ago</a></li>
                        <li>
                            <a>
                                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                                <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                            </a>
                        </li>
                        <li>
                            <a>
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" />
                                        <label class = "full" for="star5" title="Increible"></label>
                                    <input type="radio" id="star4half" name="rating" value="4.5" />
                                        <label class="half" for="star4half" title="Muy bueno"></label>
                                    <input type="radio" id="star4" name="rating" value="4" />
                                        <label class = "full" for="star4" title="Buenisimo"></label>
                                    <input type="radio" id="star3half" name="rating" value="3.5" />
                                        <label class="half" for="star3half" title="Bueno"></label>
                                    <input type="radio" id="star3" name="rating" value="3" />
                                        <label class = "full" for="star3" title="Normal"></label>
                                    <input type="radio" id="star2half" name="rating" value="2.5" />
                                        <label class="half" for="star2half" title="Mas o menos"></label>
                                    <input type="radio" id="star2" name="rating" value="2" />
                                        <label class = "full" for="star2" title="Mal"></label>
                                    <input type="radio" id="star1half" name="rating" value="1.5" />
                                        <label class="half" for="star1half" title="Terrible"></label>
                                    <input type="radio" id="star1" name="rating" value="1" />
                                        <label class = "full" for="star1" title="Horroroso"></label>
                                    <input type="radio" id="starhalf" name="rating" value="0.5" />
                                        <label class="half" for="starhalf" title="El peor de todos"></label>
                                </fieldset>
                            </a>
                        </li>
                        <li>
                            <a>
                                <a uk-icon="bolt"></a>
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="uk-comment-body">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </article>
        <br>

        <button class="uk-button uk-button-text uk-width-1-1 uk-margin-small-bottom"
        (click)="showComments()">Ver comentarios</button>
        
        <div class="comments" id="comments"></div>
    </div>
    
</div>