html, body{
    width: 100%;
}

body {
    background: url('assets/img/wall.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.align-center{
    text-align: center;
}

.color-white{
    color: rgba(255,255,255,.8);
}

.content-blog{
    background: #fff;
    height: auto;
    min-height: 500px;
    position: relative;
}