<div class="uk-container title-animated uk-animation">
    <h1 class="uk-animation-slide-left align-center color-white" style="height: 165px;">
        Bienvenidos a mi sitio web
    </h1>
</div>

<div class="content-blog">
    <div class="uk-container">
        <h2 class="title-bl"> Ultimos posts </h2>
    </div>
    <div class="uk-container uk-flex uk-flex-wrap container-blog">
        <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid style="width: 100%;">
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-card-body">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="../docs/images/avatar.jpg">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Title</h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>