<div class="uk-container title-animated uk-animation">
    <h1 class="uk-animation-slide-left align-center color-white" style="height: 165px;">
        Bienvenidos a mi sitio web
    </h1>
</div>

<div class="content-blog">
    <div class="uk-container">
        <h2 class="title-bl"> Ultimos posts </h2>
    </div>
    <div class="uk-container uk-flex uk-flex-wrap container-blog">
        <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid style="width: 100%;">
            <div *ngFor="let item of blogs">
                <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-card-body">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="https://scontent.fctg1-1.fna.fbcdn.net/v/t1.0-9/28058534_185424915555108_596327094961158333_n.jpg?oh=a746b75fbfb50ab7d107bcc83efa4676&oe=5B05484C">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ item.title }}</h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{ item.date }}</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p style="word-wrap:break-word;"> {{ cutter( item.text ) }} </p>
                    </div>
                    <div class="uk-card-footer">
                        <a class="uk-button uk-button-text"> Leer más </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>